.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 60px;
  min-width: 320px;
  /*max-width: 1280px;*/
  background: #000000;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, sans-serif;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .page {
    padding: 28px 19px 36px;
  }
}

@media (max-width: 425px) {
  .page {
    padding-left: 0;
    padding-right: 0;
  }
}
