.header__loggedIn {
  display: flex;
}

@media (max-width: 425px) {
  .header__loggedIn {
    flex-direction: column;
    text-align: center;
    display: none;
  }
  /*.header__loggedIn {
    text-align: center;
    margin: 34px 30px 33px 0;
  }*/
}