.header {
  margin-bottom: 40px;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 425px) {
  .header {
    margin-bottom: 38px;
    
  }
}

