.input-container__item {
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: inherit;
  margin-top: 48px;
  padding: 0;
}



@media (max-width: 425px) {
  .input-container__item {
    font-size: 14px;
    line-height: 17px;
    margin-top: 48px;
  }
}
